<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <form name="myform">
        제목 : <input type="text" name="title" id="title"> <br>
        작성자 : <input type="text" name="writer" id="writer"> <br>
        작성일 : <input type="text" name="wdate" id="wdate"> <br>
        내용 : <textarea name="contents" id="contents" cols="30" rows="10"></textarea>
        <br><br>

        <button type="button" onclick="goWrite()">등록</button>

    </form>
</body>
</html>

<script>
    function goWrite()
    {
        var frm = document.myform;
        frm.action="/write";
        frm.method="post";
        frm.submit();
    }
</script>