<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel="stylesheet" href="/stylesheets/style.css" />
  </head>
  <body>
    <h1><%= title %></h1>
    <p>Welcome to <%= title %></p>

    <% if (session["userid"]==undefined || session["userid"]==""){ %>
    <p>
      <a href="/member/register">회원가입</a>
      <a href="/member/login">로그온</a>
    </p>
    <% } else { %>
    <p>
      <%=session["username"]%>
      <a href="/member/logout">로그아웃</a>
    </p>
    <% } %>
  </body>
</html>
